/* Reset Geral */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
/* ********************** */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 180px;
}

#spacing-body {
  height: 100px;
}

/* Palheta de cores */
:root {
  --dark-color: #000000;
  --white-color: #ffffff;
  --search-font-color: #555555;
}

/* **************** */

/* Estilos para uso geral */
.container {
  width: 1440px;
  margin: auto;
}

img {
  width: inherit;
  height: inherit;
}

/* Controls Arrows */
/* .controls-arrows {
    height: inherit;
    width: inherit;

    z-index: 1;
    
    position: absolute;    
    padding: 0 9px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

.arrow-container {
  height: 40px;
  width: 40px;

  position: absolute;

  cursor: pointer;
}

.next {
  right: 9px;
}

.previus {
  left: 9px;
}

.link {
  width: 1440px;
  height: 100%;

  display: block;
}
/* // Controls Arrows */

/* Cards Carousel Style */
.carousel-cards-container .arrow-container.visible {
    display: block;
}

.carousel-cards-container .arrow-container {
    display: none;
}


.carousel-cards-container {
  width: 1440px;
  height: 430px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.cards {
  width: 1280px;
  height: 430px;

  margin: 0 auto;

  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  width: 240px;
  height: 399px;

  margin-right: 20px;
  padding: 4px 4px 14px 4px;
  border: 2px solid #c4c4c4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  transition: all 0.5s;
}

.card:nth-last-child(1) {
  margin-right: 0;
}

.card-image {
  width: 100%;
  height: 250px;

  position: relative;
  margin-bottom: 8px;

  object-fit: cover;
}

.card-descount {
  width: 40px;
  height: 30px;

  position: absolute;
  right: 0;
  top: 15px;

  opacity: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;

  color: #d0011b;
  background-color: #fff;
}

.card-descount.visible {
    opacity: 1;
}

.card-details {
  height: 133px;

  display: grid;
  grid-template-columns: 79px 149px repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.card-details-title {
  grid-area: 1 / 1 / 2 / 3;

  margin: auto;
  margin-bottom: 8px;
}

.card-details-title span {
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: capitalize;

  text-decoration: none;
  cursor: pointer;
  color: var(--dark-color);

  transition: all 0.5s;
}

.card-details-title span:hover {
    font-size: 1.2rem;
    text-decoration: underline;
}

.card-details-ranking {
  grid-area: 2 / 1 / 3 / 3;

  display: none;

  height: 15px;
}

.card-details-ranking.visible {
    display: block;
}

.card-details-ranking img {
  width: 15px;
  height: 15px;

  /* margin-left: -4px; */
}

.card-details-old-price {
  grid-area: 3 / 1 / 4 / 2;
  line-height: 21px;

  display: none;

  font-weight: 200;
  font-size: 1.125rem;
  text-decoration-line: line-through;

  padding-top: 9px;
}

.card-details-old-price.visible {
    display: block;
}

.card-details-new-price {
  grid-area: 4 / 1 / 5 / 3;

  margin-top: -3px;

  font-weight: 600;
  font-size: 1.375rem;
}

.card-details-free-shipping.visible {
    opacity: 1;
}

.card-details-free-shipping {
  grid-area: 3 / 2 / 4 / 3;

  opacity: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card-details-free-shipping div {
  height: 35px;

  padding: 4px 5px;
  overflow: hidden;
  border: 2px solid #48dd98;
}

.card-details-free-shipping span {
  text-align: center;
  text-transform: uppercase;

  font-style: normal;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 900;

  color: #48dd98;
}

/****************************/

.section-title {
  margin-bottom: 60px;
}

.section-title h1 {
  font-size: 2.25rem;
  font-weight: 800px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-color);
}

/* *********************** */

/* Header */
header {
  min-width: 1440px;
  width: 100%;
  height: 100px;

  display: none;

  position: fixed;
  z-index: 4;

  background-color: var(--dark-color);
}

header.active{
  display: block;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding-left: 30px;
}

/* Logo */
.logo {
  width: 142px;
  height: 73px;

  margin-right: 31px;
  object-fit: cover;
}

/* // Logo */

/* Navegação */
header nav {
  width: 692px;
  height: 100px;

  padding: 35px 0;
}

.nav-item {
  margin-right: 33px;

  font-size: 1.5rem;
  font-weight: 400px;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--white-color);
}

.nav-item:nth-last-child(1) {
  margin-right: 0;
}
/* // Navegação */

/* Line */
.line {
  height: 30px;
  width: 3px;
  margin-right: 21px;
}
/* // Line */

/* Pesquisa */
.header-pesquisa {
  width: 252px;
  height: inherit;

  padding: 7px 8px 7px 0;
  margin-right: 14px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  border-radius: 20px;
  background-color: var(--white-color);
}

.header-pesquisa input {
  width: calc(213px - 20px);
  padding: 0 10px;

  color: var(--search-font-color);
  font-size: 1.2rem;
}

.pesquisa-icon {
  width: 25px;
  height: 25px;
}
/* // Pesquisa */

/* Área do usuário - usuario e sacola */
.header-usuario-sacola-container {
  width: 204px;
  height: 50px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.usuario {
  flex: 1;
  display: flex;
  align-items: center;
}

.usuario div {
  width: 50px;
  height: 50px;

  cursor: pointer;

  border-radius: 50%;
  margin-right: 5px;
}

.usuario a {
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--white-color);
}

.sacola-de-compras {
  width: 50px;
  height: 50px;

  cursor: pointer;
}
/* // Área do usuário - usuario e sacola */
/* ***************** */

/* Slider */
.container-slider {
  width: 1440px;

  overflow: hidden;
  transition: all 0.4s;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Slides Container */

/* Slides */
#slides-container {
  width: inherit;
  height: 445px;

  display: flex;
  flex-direction: row;

  object-fit: cover;
}

.slides img {
  width: inherit;
  height: inherit;

  cursor: pointer;
}

.container-slider #currentSlide {
  transition: all 2s;
}

#currentSlide {
  width: 1440px;
  height: inherit;
}
/* // Slides */

/* Controls Balls */
.controls-balls {
  width: inherit;
  height: 15px;

  position: absolute;
  z-index: 1;

  bottom: 20px;

  display: flex;
  justify-content: center;

  margin-top: -33px;
}

.controls-balls div {
  width: 15px;
  height: 15px;

  margin-right: 12px;

  transition: all 0.5s;
  cursor: pointer;

  border-radius: 50%;
  background-color: #ccc;
}

.controls-balls div:hover {
  cursor: pointer;

  background-color: #000;
}

.controls-balls div.currentImage {
  transition: all 0.5s;
  background-color: #000;
}
/* // Controls Balls */
/* *************************** */

/* Section - Destaques */
.container-destaques {
  height: 596px;

  margin-bottom: 100px;
  padding: 64px 0 24px 0px;
}
/* ******************* */


/* Section - Promoções */
.container-promocoes {
  height: 596px;

  padding: 64px 0 29px 0px;
}
/* ******************* */

/* Section - Moda */
.container-moda {
  padding: 88px 0 29px 0px;
}

.container-moda-conteudo {
  width: inherit;
  min-height: 944px;

  display: flex;
  justify-content: space-between;
  align-items: start;

  padding-top: 44px;
  padding-left: 25px;
}

.container-moda-filtros {
  width: 284px;
  min-height: 600px;

  padding-left: 13px;


  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 10px;

  background-color:#f3f3f3;
}

/* Filtros Selecionados */
.container-moda-filtros-selecionados {
  width: inherit;

  padding: 29px 10px 40px 17px;
}

.container-moda-filtros-selecionados h2{
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400px;
  color: #333333;

  margin-bottom: 16px;
}

.container-moda-filtros-selecionados-filtros {
  width: 244px;
}

.filtro-selecionado {
  display: flex;
  justify-content: space-between;

  margin-bottom: 5px;

  color: #000;
  font-size: 1rem;
}

.filtro-selecionado:nth-last-child(1) {
  margin-bottom: 14px ;
}

.filtro-selecionado span {
  flex: 1;
}

.filtro-selecionado img {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.container-limpar-filtros{
  font-size: 0.875rem;
  font-weight: 700px;
  color: #999999;

  cursor: pointer;
  text-decoration: underline;
}

.container-limpar-filtros span {
  display: none;
}

/* // Filtros Selecionados */

.container-moda-filtros-container {
  width: 259px;
  min-height: 200px;

  text-transform: capitalize;

  padding: 12px 15px 20px 14px;
  margin-bottom: 20px;
  border-radius: 10px;

  background-color: #ffffff;
}

.filtros-header{
  width: 100%;
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
}

.filtros-header span{
  flex: 1;

  font-weight: 600;
  font-size: 1.125rem;
}

.filtros-header div {
  padding: 5px;
  cursor: pointer;

  display:flex;
  align-items: center;

}

.filtros-header img {
  width: 14px;
  height: 1.48px;

  align-self: center;
}

.container-filtros-conteudo {
  width: 100%;
}

.filtro-chk {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 10px;  
}

.filtro-chk input[type="checkbox"], .filtro-chk label{
  cursor: pointer;
}

.filtro-chk:nth-last-child(1) {
  margin-bottom: 0px;
}

.filtro-tipo-produto-pesquisa {
  width: 100%;
  height: 35px;

  margin-bottom: 28px;

  display: flex;
  justify-content: space-between;
  align-items:center;
  padding-right: 2px;

  border: 1px solid #c4c4c4;
  border-radius: 2px;
}

.filtro-tipo-produto-pesquisa input{
  text-indent: 20px;
  font-size: 1rem;
}

.filtro-tipo-produto-pesquisa img{
  width: 25px;
  height: 25px;

  cursor: pointer;
}
/* **************************** */


/* Moda - Produto */
.container-moda-produtos {
  flex: 1;
  padding: 0 44px 20px 39px;
  min-height: 496px;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}

.container-moda-produtos .card{
    width: 320px;
    height: 496px;

    margin-bottom: 25px;
    margin-right: 0px;
  /* transform: scale(2) */
}

.container-moda-produtos .card .card-details-title{
  font-weight: 300px;
}
.container-moda-produtos .card-image{
  width: 302px;
  height: 325px;
}

.container-moda-produtos .card-details {
  min-height: 150px;
  display: grid;
  grid-template-columns: 105px 195px repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.container-moda-produtos .card-details .card-details-old-price{
  padding-top: 14px;
  margin-bottom: 5px;
}

.container-moda-produtos .card-details .card-details-ranking img{
  width: 21px;
  height: 21px;
}
/* ************** */

/* Section - Sobre*/
.container-sobre {
  padding-top: 66px;
  margin-bottom: 60px;
  border-top: 3px solid #c4c4c4;
}

/* Parágrafos */
.sobre-container-paragrafos {
  max-width: 1430px;
  margin: auto;
  margin-bottom: 135px;
}

.sobre-container-paragrafos p{
  font-size: 1.5rem;
  text-align: justify;
  text-indent: 40px;
}
/* // Parágrafos */

/* Missão, Visão e Valores */
.sobre-container-missao-visao-valores {
  width: inherit;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 0 22px;
}

.sobre-moldura {
  width: 400px;
  height: 400px;

  padding-top: 57px;

  background-image: url('../assets/img/icons/moldura.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sobre-moldura h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;

  margin-bottom: 25px;
}

.sobre-moldura p {
  padding: 0 55px;

  font-size: 1.25rem;
  text-align: center;
}

.sobre-moldura ul {
  width: 70%;
  padding-left: 50px;
  margin: auto;
}

.sobre-moldura li {
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 2px;
}
/* // Missão, Visão e Valores */
/* ******************** */

/* Section - Contato */
.container-contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 215px;
}

.container-contato .section-title{
  margin-bottom: 50px;
}

.contato-texto{
  margin-bottom: 17px;
}

.contato-texto span{
  font-size: 1.5rem;
}

/* Formulario */
.contato-formulario-container{
  width: 760px;
  height: 800px;

  margin: auto;
  border: 3px solid #000;
}

.contato-formulario-container form{
  width: inherit;
  height: inherit;

  padding: 26px 24px 36px 36px;
}

.contato-formulario-input {
  width: 100%;
  height: 35px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 30px;
}

.contato-formulario-textarea label,
.contato-formulario-input label  {
  font-size: 1.5rem;
  font-weight: 500;

  margin-right: 12px;
}

.contato-formulario-input input {
  flex: 1;
  height: 30px;

  border: 1px solid #000;

  text-indent: 15px;
  font-size: 1.25rem;
}

.contato-formulario-textarea {
  width: 100%;
  height: 477px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato-formulario-textarea label {
  align-self: flex-start;
  margin-bottom: 20px;
}


.contato-formulario-textarea  textarea {
  width: 644px;
  height: 429px;

  padding: 10px 20px;
  margin-bottom: 50px;

  font-size: 1.25rem;

  resize: none;
  border: 1px solid #000;
}  

.contato-formulario-botoes-container {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contato-formulario-botao  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

}

.contato-formulario-botao label {
  font-size: 1.25rem;
  font-weight: 500;

  line-height: 20px;
}

.contato-formulario-botao input[type="checkbox"] {
  width: 20px;
  height: 20px;

  cursor: pointer;
}

.contato-formulario-botao input[type="submit"] {
  width: max-content;
  padding: 6px 35px;

  font-size: 1.75rem;
  font-weight: 500;
  color: #fff;

  cursor: pointer;

  border-radius: 20px;
  background-color: #000;
}

.contato-formulario-botao:nth-last-child(1)  {
  padding-right: 38px;
}
/* // Formulario */
/* ***************** */

/* Footer */
footer {
  width: 100%;

  background-color: #f4f4f4;
}

.footer {
  padding-bottom: 46px;
}

.footer-conteudo-container {
  width: calc(100% - 180px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  padding-top: 56px;
  padding-left: 46px;

  margin-bottom: 125px;
}

.footer-conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer-conteudo-titulo {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 5px;
}

.footer-conteudo p {
  max-width: 405px;
  padding-left: 15px;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.footer-conteudo p:nth-last-child(1) {
  text-transform: capitalize;
}

.footer-conteudo-contatos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
}

.footer-contato{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-right: 55px;
}

.footer-contato h3{
  font-size: 1.5rem;
  font-weight: 600;

  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-contato span {
  font-size: 1.5rem;
  margin-bottom: 14px;
}


.footer-contato:nth-last-child(1){
  margin-right: 0;
}


.footer-conteudo-icone-rede-social img {
  width: 40px;
  height: 40px;

  cursor: pointer;

  margin-right: 20px;
}

.footer-conteudo-icone-rede-social img:nth-last-child(1) {
  margin-right: 0;
}

.footer-descricao-container {
  width: 980px;
  margin: auto;
}

.footer-descricao-container p{
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}

.footer-descricao-container p:nth-child(1){
  margin-bottom: 30px;
}
/* ************* */

