  <!-- Header -->
  <header>
    <div class="header-content container">
      <!-- Title -->
      <div class="header-content-title">
        <h1>
          <span>CMS</span>
          DOM - Desvende o mundo!
        </h1>
        <h2>Gerenciamneto de Conteúdo do Site</h2>
      </div>
      <!-- // Title -->

      <!-- Logo -->
      <div class="header-content-logo">
        <img src="assets/img/icon/logo.png" alt="Logo" />
      </div>
      <!-- // Logo -->
    </div>
  </header>
  <!-- // Header -->

  <!-- Dashboard -->
  <section class="dashboard container">
    <!-- Actions container -->
    <div class="dashboard-content-actions-container">
      <!-- Action - Adm de Produtos -->
      <div class="dashboard-content-action">
        <a href="dashboard-produtos.php">
          <img src="assets/img/icon/box.png" alt="" />
          <span>Adm. de Produtos</span>
        </a>
      </div>
      <!-- // Action - Adm de Produtos -->

      <!-- Action - Adm de Produtos -->
      <div class="dashboard-content-action">
        <a href="dashboard-categorias.php">
          <img src="assets/img/icon/lista-de-controle.png" alt="" />
          <span>Adm. de Categorias</span>
        </a>
      </div>
      <!-- // Action - Adm de Produtos -->

      <!-- Action - Adm de Produtos -->
      <div class="dashboard-content-action">
        <a href="dashboard-contatos.php">
          <img src="assets/img/icon/contact-form.png" alt="" />
          <span>Contatos</span>
        </a>
      </div>
      <!-- // Action - Adm de Produtos -->

      <!-- Action - Adm de Produtos -->
      <div class="dashboard-content-action">
        <a href="dashboard-usuarios.php">
          <img src="assets/img/icon/people.png" alt="" />
          <span>Usuários</span>
        </a>
      </div>
      <!-- // Action - Adm de Produtos -->
    </div>
    <!-- // Actions container -->

    <!-- User container -->
    <div class="dashboard-content-user-container">
      <!-- User name -->
      <div class="dashboard-content-user-name">
        <p>Bem vindo! <span>Thales Santos</span>.</p>
      </div>
      <!-- // User name -->

      <!-- User action -->
      <div class="dashboard-content-user-logout">
        <img src="assets/img/icon/logout.png" alt="" />
        <input type="button" value="Logout" />
      </div>
      <!-- // User action -->
    </div>
    <!-- // User container -->
  </section>
  <!-- Dashboard -->